@import "tailwindcss";

:root {
  --background: #FFF8F4;
  --foreground: #102A4C;
  --rose-principal: #C75B6B;
  --rose-clair: #F8DFE1;
  --beige: #FFF8F4;
  --blanc: #FFFFFF;
  --bleu-marine: #102A4C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-rose-principal: #C75B6B;
  --color-rose-clair: #F8DFE1;
  --color-beige: #FFF8F4;
  --color-blanc: #FFFFFF;
  --color-bleu-marine: #102A4C;
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.font-script {
  font-family: var(--font-parisienne), ui-serif, Georgia, serif;
}

* {
  scroll-behavior: smooth;
}
